.pressable-feedback__root {
  overflow: hidden;
}

.pressable-feedback__highlight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pressable-feedback__ripple-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pressable-feedback__ripple {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9999px;
}
