@import 'tailwindcss';
@import 'uniwind';

@import '../src/styles/index.css' layer(theme);

@import './themes/default.css' layer(theme);
@import './themes/lavander.css' layer(theme);
@import './themes/sky.css' layer(theme);
@import './themes/mint.css' layer(theme);

@theme {
  --font-normal: 'Inter_400Regular';
  --font-medium: 'Inter_500Medium';
  --font-semibold: 'Inter_600SemiBold';
  --font-bold: 'Inter_700Bold';
}

@source '../src';
