@import 'tailwindcss';
@import 'uniwind';

@import './styles/theme.css' layer(theme);

@layer theme {
  :root {
    @variant light {
      /* Base Colors */
      --background: oklch(0.9702 0 0);
      --color-foreground: var(--color-eclipse);

      /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
      --surface: var(--color-white);
      --surface-foreground: var(--color-foreground);

      /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
      --overlay: var(--color-white);
      --overlay-foreground: var(--color-foreground);

      --color-muted: oklch(55.2% 0.016 285.938);

      --color-default: oklch(94% 0.001 286.375);
      --color-default-foreground: var(--color-eclipse);

      --color-accent: oklch(0.6204 0.195 253.83);
      --color-accent-foreground: var(--color-snow);

      /* Form Field Defaults - Colors */
      --color-field-background: var(--color-white);
      --color-field-foreground: oklch(0.2103 0.0059 285.89);
      --color-field-placeholder: var(--color-muted);
      --color-field-border: transparent; /* no border by default on form fields */

      /* Status Colors */
      --color-success: oklch(0.7329 0.1935 150.81);
      --color-success-foreground: var(--color-eclipse);

      --color-warning: oklch(0.7819 0.1585 72.33);
      --color-warning-foreground: var(--color-eclipse);

      --color-danger: oklch(0.6532 0.2328 25.74);
      --color-danger-foreground: var(--color-snow);

      /* Component Colors */
      --color-segment: var(--color-white);
      --color-segment-foreground: var(--color-eclipse);

      /* Misc Colors */
      --color-border: oklch(0 0 0 / 0%);
      --color-divider: oklch(92% 0.004 286.32);
      --color-link: var(--color-foreground);
    }

    @variant dark {
      /* Base Colors */
      --background: var(--color-black);
      --color-foreground: var(--color-snow);

      /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
      --surface: oklch(0.2103 0.0059 285.89);
      --surface-foreground: var(--color-foreground);

      /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
      --overlay: oklch(0.2563 0.0058 271.19);
      --overlay-foreground: var(--color-foreground);

      --color-muted: oklch(70.5% 0.015 286.067);

      --color-default: oklch(27.4% 0.006 286.033);
      --color-default-foreground: var(--color-snow);

      --color-accent: oklch(0.6204 0.195 253.83);
      --color-accent-foreground: var(--color-snow);

      /* Form Field Defaults - Colors */
      --color-field-background: var(--color-default);
      --color-field-foreground: var(--color-foreground);
      --color-field-placeholder: var(--color-muted);
      --color-field-border: transparent; /* no border by default on form fields */

      /* Status Colors */
      --color-success: oklch(0.7329 0.1935 150.81);
      --color-success-foreground: var(--color-eclipse);

      --color-warning: oklch(0.8203 0.1388 76.34);
      --color-warning-foreground: var(--color-eclipse);

      --color-danger: oklch(0.594 0.1967 24.63);
      --color-danger-foreground: var(--color-snow);

      /* Component Colors */
      --color-segment: oklch(0.3964 0.01 285.93);
      --color-segment-foreground: var(--color-foreground);

      /* Misc Colors */
      --color-border: oklch(1 0 0 / 0%);
      --color-divider: oklch(27.4% 0.006 286.033);
      --color-link: var(--color-foreground);
    }
  }
}

@source '../src';
