@theme {
  /* App Fonts */
  --font-normal: 'Inter_400Regular';
  --font-medium: 'Inter_500Medium';
  --font-semibold: 'Inter_600SemiBold';
  --font-bold: 'Inter_700Bold';

  /* Primitive Colors (Do not change between light and dark) */
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(0.9911 0 0);
  --eclipse: oklch(0.2103 0.0059 285.89);

  /* Base radius */
  --radius: 12px;

  /* Border Radius Scale */
  --radius-xs: var(--radius) * 0.25;
  --radius-sm: var(--radius) * 0.5;
  --radius-md: var(--radius) * 0.75;
  --radius-lg: var(--radius) * 1;
  --radius-xl: var(--radius) * 1.5;
  --radius-2xl: var(--radius) * 2;
  --radius-3xl: var(--radius) * 3;
  --radius-4xl: var(--radius) * 4;

  /* Opacity */
  --opacity-disabled: 0.5;
}
